@CHARSET "UTF-8";
@import "bootstrap.css";
@import "../plugins/datepicker/datepicker3.css";

.menu-options {
	color: white;
}

.login-text {
	text-align: center;	
}

.pass-input {
	display: none;
	visibility: hidden;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

.contenido {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}