<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="SFHibernate">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">jruteros</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jruteros</property>
        <property name="hibernate.connection.username">jruteros</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="com/model/UserRoute.hbm.xml" />
        <mapping resource="com/model/User.hbm.xml" />
        <mapping resource="com/model/Travel.hbm.xml" />
        <mapping resource="com/model/Apoint.hbm.xml" />
        <mapping resource="com/model/Routescore.hbm.xml" />
        <mapping resource="com/model/Photo.hbm.xml" />
        <mapping resource="com/model/Route.hbm.xml" />
        <mapping resource="com/model/Activity.hbm.xml" />
    </session-factory>
</hibernate-configuration>
