/*
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.contenido {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}*/

.menu-options {
	color: white;
}

.login-text {
	text-align: center;	
}

.pass-input {
	display: none;
	visibility: hidden;
}
